{% load static %}
<!-- Details Modal -->
<div id="staticBackdrop" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                {% for service_models in service_model %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ service_models.image.url }}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>{{ service_models.title1 }}</h3>
                    <hr>
                    <p>{{ service_models.info_title1 }} </p>
                    <h4>{{ service_models.title2 }} </h4>
                    <p>{{ service_models.info_title2 }} </p>
                    <ul class="list-unstyled li-space-lg">
                        {% for texnology in service_models.texnology.all %} 
                        <li class="d-flex">
                            <i class="fas fa-chevron-right"></i>
                            <div class="flex-grow-1"> {{ texnology }} </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <a id="modalCtaBtn" class="btn-solid-reg" href="{% url 'article' %}">Details</a>
                    <button type="button" class="btn-outline-reg" data-bs-dismiss="modal">Close</button>
                </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
        </div> <!-- end of modal-content -->
    </div> <!-- end of modal-dialog -->
</div> <!-- end of modal -->
<!-- end of details modal -->