{% load static %}
<!-- Details 1 -->
<div id="details" class="basic-1">
    <div class="container">
        {% for s_about in service_about %}
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="{{ s_about.image.url }}" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2>{{ s_about.title }}</h2>
                    <p>{{ s_about.info_title }}</p>
                    <a class="btn-solid-reg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Modal</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        {% endfor %}
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->