{% load static %}
<!-- Footer -->
<div class="footer bg-gray">
    <img class="decoration-city" src="{% static 'images/decoration-city.svg' %}" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Pellentesque aliquet mi eu tortor dictum, non imperdiet ante viverra. Phasellus eget enim orci ut
                    pellentes troc</h4>
                <div class="social-container">
                    <span class="fa-stack">
                        <a href="https://www.facebook.com/azimbekabdurasulov">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://t.me/azim_01_29">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-telegram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://github.com/azimxxm">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.linkedin.com/in/azimjon-abdurasulov-aa10671b3">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.instagram.com/azim_29_01">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.youtube.com/channel/UCfliQ_F24412ey6V9tmYJWA">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of social-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->

<!-- Copyright -->
<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled li-space-lg p-small">
                    <li><a href="{% url 'article' %}">Article Details</a></li>
                    <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                    <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                </ul>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <p class="p-small statement">Copyright © <a href="https://github.com/azimxxm">Azimjon Abdurasulov</a>
                </p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->