{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
{% include 'web/header.html' %}
{% include 'web/service.html' %}
{% include 'web/details.html' %}
{% include 'web/details_model.html' %}
{% include 'web/details2.html' %}
{% include 'web/projects.html' %}
{% include 'web/testmonials.html' %}
{% include 'web/pricing.html' %}
<!-- Invitation -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h4>In gravida at nunc sodales pretium. Vivamus semper, odio vitae mattis auctor, elit elit semper
                        magna rico</h4>
                    <p class="p-large">Ac tristique velit sapien vitae eros. Praesent ut erat a tellus cursus pharetra
                        finibus posuere nisi. Vivamus feugiat tincidunt sem pre toro</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of invitation -->
{% include 'web/contact.html' %}




{% endblock %}