{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
{% include 'web/header.html' %}
{% include 'web/service.html' %}
{% include 'web/details.html' %}
{% include 'web/details_model.html' %}
{% include 'web/details2.html' %}
{% include 'web/projects.html' %}
{% include 'web/testmonials.html' %}
{% include 'web/pricing.html' %}
<!-- Invitation -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h4>Biz sizning biznesingizni mukammal dizayn va mustahkam texnologiya bilan jihozlamoqchimiz</h4>
                    <p class="p-large">Siz biznesingizni boshqaradigan odamsiz. Biz taqdim etadigan narsa - bu xavfsiz,
                        mustahkam va tezkor texnologiya, shuningdek har bir bosqichda sizni qo'llab -quvvatlaydigan
                        ishonchli xodimlar. Keling, birgalikda keyingi interaktiv veb -ilovangizni yaratamiz.</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of invitation -->
{% include 'web/contact.html' %}




{% endblock %}