{% load static %}
<!-- Pricing -->
<div id="pricing" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading"><span>Choose the package</span><br> that fits your budget and project</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                {% for pricing in pricing %}
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <img class="decoration-lines" src="{% static 'images/decoration-lines.svg' %}"
                                alt="alternative"><span> {{ pricing.plan_name }} </span><img
                                class="decoration-lines flipped" src="{% static 'images/decoration-lines.svg' %}"
                                alt="alternative">
                        </div>
                        {% for plan_types in pricing.plan_types.all %}
                        <ul class="list-unstyled li-space-lg">
                            <li>{{ plan_types }}  <i class="fas fa-check blue"></i> </li>
                        </ul>
                        {% endfor %}
                        <div class="price">$ {{ pricing.plan_price }}</div>
                        <a href="#contact" class="btn-outline-reg">Ordering</a>
                    </div>
                </div>
                <!-- end of card -->
                {% endfor %}










            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->