{% load static %}
<!-- Services -->
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                {% for service in service %}
                <!-- Card -->
                <div class="card">
                    <div class="{{ service.color_icon }}">
                        <span class="{{ service.icon }}"></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ service.service_name }}</h5>
                        <p>{{ service.service_info }}</p>
                        <ul class="list-unstyled li-space-lg">
                            {% for advantages in service.advantages.all %} 
                            <li class="d-flex">
                                <i class="fas fa-check blue"></i>
                                <div class="flex-grow-1">{{ advantages }} </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- end of card -->
                {% endfor %}


            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->


