{% load static %}
<!-- Testimonials -->
<div class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="quotes" src="{% static 'images/quotes.svg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Fusce tincidunt dui nec diam varius venenatis.
                                            Nullam tristique rutrum odio, ut tincidunt erat dictum in. Etiam et aliquet
                                            mi, et vehicula elit fusce porta ullamcorper</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="{% static 'images/testimonial-1.jpg' %}"
                                                alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Samantha Bloom</div>
                                                <div class="occupation">Team Leader - Syncnow</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of testimonial-details -->
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="quotes" src="{% static 'images/quotes.svg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Mauris ut mattis nisl. Nunc ultrices nisi eget nisl
                                            pulvinar iaculis vitae ac nulla. Nullam fringilla varius blandit. Nam sit
                                            amet eleifend justo blogo rovan de chichis kokos venir dab</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="{% static 'images/testimonial-2.jpg' %}"
                                                alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Mike Page</div>
                                                <div class="occupation">Developer - Chainlink</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of testimonial-details -->
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="quotes" src="{% static 'images/quotes.svg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Nam sit amet eleifend justo. Aliquam sit amet
                                            lacinia enim, eget facilisis ex. Ut pretium cursus eleifend. Integer feugiat
                                            malesuada quam vel basil venis proca jilo</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="{% static 'images/testimonial-3.jpg' %}"
                                                alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Mary Longhorn</div>
                                                <div class="occupation">Manager - Firstdev</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of testimonial-details -->
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <img class="quotes" src="{% static 'images/quotes.svg' %}" alt="alternative">
                                    <div class="card-body">
                                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur ing elit.
                                            Nulla id nisl tempus risus facilisis efficr ut tincidunt vitae enim non
                                            vehicula. Phases vitae metus in felis gravida ultrices zimbo</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="{% static 'images/testimonial-4.jpg' %}"
                                                alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Ronny Drummer</div>
                                                <div class="occupation">Designer - Sawdust</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of testimonial-details -->
                                    </div>
                                </div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                        </div> <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->